In [1]:
import dask.dataframe as dd

# Load the dataset in Dask (memory-efficient)
data_path = '/kaggle/input/jane-street-real-time-market-data-forecasting/train.parquet'
train_data = dd.read_parquet(data_path)

# Take a 10% random sample of the data for initial inspection
sample_data = train_data.sample(frac=0.1, random_state=42).compute()  # Converts to pandas

In [2]:
# Check the first few rows of the sample
print(sample_data.head())

# Check the data types of each column
print(sample_data.dtypes)

# Get general information about the data, including non-null counts
print(sample_data.info())

        date_id  time_id  symbol_id    weight  feature_00  feature_01  \
587075       65      332         38  1.351800         NaN         NaN
757733       81      813         19  3.195052         NaN         NaN
172256       21      503         10  1.109825         NaN         NaN
757596       81      802         10  1.189921         NaN         NaN
650440       71        8          8  1.632438         NaN         NaN

        feature_02  feature_03  feature_04  feature_05  ...  responder_0  \
587075         NaN         NaN         NaN    0.315594  ...     0.256910
757733         NaN         NaN         NaN   -1.569358  ...    -0.098848
172256         NaN         NaN         NaN   -0.064054  ...     0.202636
757596         NaN         NaN         NaN   -1.472570  ...     2.127164
650440         NaN         NaN         NaN    0.621679  ...    -0.428931

        responder_1  responder_2  responder_3  responder_4  responder_5  \
587075    -0.082456    -0.040593    -3.491451    -1.697017    -5.000000
757733     0.535817    -0.082651     0.293387     1.004242     0.437111
172256     0.128824    -0.148082    -0.341684     1.437995    -0.534279
757596    -0.203588     3.755299     2.740224     1.904249     5.000000
650440    -0.603211    -0.402254     3.902206     3.245628     0.745335

        responder_6  responder_7  responder_8  partition_id
587075    -0.449624    -0.382103     0.003017             0
757733     0.453235     0.184523     0.736464             0
172256    -0.598404     0.842790    -0.760445             0
757596     1.053998     1.170140     1.893582             0
650440     5.000000     4.203393     1.750816             0

[5 rows x 93 columns]
date_id            int16
time_id            int16
symbol_id           int8
weight           float32
feature_00       float32
                  ...
responder_5      float32
responder_6      float32
responder_7      float32
responder_8      float32
partition_id    category
Length: 93, dtype: object
<class 'pandas.core.frame.DataFrame'>
Index: 4712723 entries, 587075 to 57440
Data columns (total 93 columns):
 #   Column        Dtype
---  ------        -----
 0   date_id       int16
 1   time_id       int16
 2   symbol_id     int8
 3   weight        float32
 4   feature_00    float32
 5   feature_01    float32
 6   feature_02    float32
 7   feature_03    float32
 8   feature_04    float32
 9   feature_05    float32
 10  feature_06    float32
 11  feature_07    float32
 12  feature_08    float32
 13  feature_09    int8
 14  feature_10    int8
 15  feature_11    int16
 16  feature_12    float32
 17  feature_13    float32
 18  feature_14    float32
 19  feature_15    float32
 20  feature_16    float32
 21  feature_17    float32
 22  feature_18    float32
 23  feature_19    float32
 24  feature_20    float32
 25  feature_21    float32
 26  feature_22    float32
 27  feature_23    float32
 28  feature_24    float32
 29  feature_25    float32
 30  feature_26    float32
 31  feature_27    float32
 32  feature_28    float32
 33  feature_29    float32
 34  feature_30    float32
 35  feature_31    float32
 36  feature_32    float32
 37  feature_33    float32
 38  feature_34    float32
 39  feature_35    float32
 40  feature_36    float32
 41  feature_37    float32
 42  feature_38    float32
 43  feature_39    float32
 44  feature_40    float32
 45  feature_41    float32
 46  feature_42    float32
 47  feature_43    float32
 48  feature_44    float32
 49  feature_45    float32
 50  feature_46    float32
 51  feature_47    float32
 52  feature_48    float32
 53  feature_49    float32
 54  feature_50    float32
 55  feature_51    float32
 56  feature_52    float32
 57  feature_53    float32
 58  feature_54    float32
 59  feature_55    float32
 60  feature_56    float32
 61  feature_57    float32
 62  feature_58    float32
 63  feature_59    float32
 64  feature_60    float32
 65  feature_61    float32
 66  feature_62    float32
 67  feature_63    float32
 68  feature_64    float32
 69  feature_65    float32
 70  feature_66    float32
 71  feature_67    float32
 72  feature_68    float32
 73  feature_69    float32
 74  feature_70    float32
 75  feature_71    float32
 76  feature_72    float32
 77  feature_73    float32
 78  feature_74    float32
 79  feature_75    float32
 80  feature_76    float32
 81  feature_77    float32
 82  feature_78    float32
 83  responder_0   float32
 84  responder_1   float32
 85  responder_2   float32
 86  responder_3   float32
 87  responder_4   float32
 88  responder_5   float32
 89  responder_6   float32
 90  responder_7   float32
 91  responder_8   float32
 92  partition_id  category
dtypes: category(1), float32(86), int16(3), int8(3)
memory usage: 1.6 GB
None

In [3]:
# Count missing values in each column
missing_values = sample_data.isna().sum()
print("Missing values per column:\n", missing_values)

# Show only columns with missing values for better clarity
missing_columns = missing_values[missing_values > 0]
print("Columns with missing values:\n", missing_columns)

Missing values per column:
 date_id              0
time_id              0
symbol_id            0
weight               0
feature_00      318231
                 ...
responder_5          0
responder_6          0
responder_7          0
responder_8          0
partition_id         0
Length: 93, dtype: int64
Columns with missing values:
 feature_00    318231
feature_01    318231
feature_02    318231
feature_03    318231
feature_04    318231
feature_08     29889
feature_15    120995
feature_16        17
feature_17     20035
feature_18        14
feature_19        14
feature_21    843597
feature_26    843597
feature_27    843597
feature_31    843597
feature_32     47846
feature_33     47846
feature_37        94
feature_39    430378
feature_40      6782
feature_41    109176
feature_42    430378
feature_43      6782
feature_44    109176
feature_45     31506
feature_46     31506
feature_47        12
feature_50    425744
feature_51      1408
feature_52    104421
feature_53    425744
feature_54      1408
feature_55    104421
feature_56        14
feature_57        14
feature_58     47845
feature_62     29059
feature_63     22495
feature_64     23529
feature_65     31506
feature_66     31506
feature_73     48398
feature_74     48398
feature_75      5893
feature_76      5893
feature_77      2000
feature_78      2000
dtype: int64

In [4]:
# Filter to exclude the first 85 days
sample_data = sample_data[sample_data['date_id'] >= 85]
print("Data after filtering the first 85 days:", sample_data.shape)

Data after filtering the first 85 days: (4633309, 93)

In [5]:
# Apply backward-fill, then forward-fill
sample_data = sample_data.bfill().ffill()

# Verify that there are no remaining missing values
print("Remaining missing values:", sample_data.isna().sum().sum())  # Should be 0 if all NaNs are filled

Remaining missing values: 0

In [6]:
''' Refined code to avoid sampling dataset, instead applying operations directly and finishing up.

import dask.dataframe as dd

# Load the entire dataset with Dask
train_data = dd.read_parquet('/kaggle/input/jane-street-real-time-market-data-forecasting/train.parquet')

# Filter out the first 85 days
train_data = train_data[train_data['date_id'] >= 85]

# Apply backward-fill and forward-fill to handle NaN values
train_data = train_data.bfill().ffill()
'''

" Refined code to avoid sampling dataset, instead applying operations directly and finishing up.\n\nimport dask.dataframe as dd\n\n# Load the entire dataset with Dask\ntrain_data = dd.read_parquet('/kaggle/input/jane-street-real-time-market-data-forecasting/train.parquet')\n\n# Filter out the first 85 days\ntrain_data = train_data[train_data['date_id'] >= 85]\n\n# Apply backward-fill and forward-fill to handle NaN values\ntrain_data = train_data.bfill().ffill()\n"